.fullCake {
    padding: 0px 80px 10px 80px;
}
.fullCakeTitle {
    text-align: center;
    font-size: 46px;
    line-height: 50px;
}
.fullCakeImage {
    display: block;
    max-width: 500px;
    max-height: 500px;
    margin: 0 auto;
}
.fullCakeDescription {
    
    width: 100%;
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
}
.fullCakePrice {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 38px;
    line-height: 44px;
    color: black;
}